GESTION_PERSONAS_CRUD_API_NAME=gestion_personas_crud
GESTION_PERSONAS_CRUD_SERVICE_NAME=gestion_personas_crud
GESTION_PERSONAS_CRUD_API_BASE_DIR=github.com/udistrital

GESTION_PERSONAS_CRUD_HTTP_PORT=8080
GESTION_PERSONAS_CRUD_RUN_MODE=dev
GESTION_PERSONAS_CRUD_PGUSER=postgres
GESTION_PERSONAS_CRUD_PGPASS=postgres
GESTION_PERSONAS_CRUD_PGHOST=localhost
GESTION_PERSONAS_CRUD_PGPORT=5432
GESTION_PERSONAS_CRUD_PGDB=postgres
GESTION_PERSONAS_CRUD_PGSCHEMA=proveedores
